---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import LogoBlock from "~/components/logo-block.astro";
import type { FooterLink, NavItem } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://linktr.ee/mqcybersec",
    description: "MQCyberSec's Linktree",
    icon: "mdi:link",
  },
  {
    url: "https://github.com/MQCyberSec",
    description: "View MQCyberSec on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.gg/8uvnhG8EED",
    description: "MQCyberSec on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://www.linkedin.com/company/mqcybersec",
    description: "MQCyberSec on LinkedIn",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://instagram.com/mqcybersec",
    description: "MQCyberSec on Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "mailto:mqcybersec@gmail.com",
    description: "MQCyberSec's Email",
    icon: "mdi:email",
  }
];

const navItems: Array<NavItem> = [
  { title: "About Us", url: "#aboutus" },
  { title: "Hack Hub", url: "#hackhub" },
  { title: "CTF Achievements", url: "#ctf-achievements" },
  { title: "Team", url: "#teams" },
  { title: "Contact", url: "#contact" },
];

const currentYear = new Date().getFullYear();
---

<footer class="relative flex flex-col h-auto items-center justify-center py-8">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative w-full max-w-4xl px-4">
    <div class="flex justify-between items-center mb-6">
      <LogoBlock slot="eyebrow" inClass="size-48"/>
      <p class="block py-4 text-sm md:text-base">📍 4 Research Park Dr, Macquarie Park, NSW, 2113</p>
    </div>
    
    <ul class="flex justify-end gap-4 mb-6">
      {links.map((link) => (
        <li>
          <a
            class="flex size-12 items-center justify-center rounded-full border-2 border-current p-3"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))}
    </ul>
    <hr class="border-t-2 border-current mb-6" />
    <nav>
      <ul class="flex justify-center space-x-8">
        {navItems.map(({ title, url }) => (
          <li>
            <a class="block py-4 text-xs md:text-sm" href={url}>
              {title}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    <small class="flex justify-end px-4 gap-4 text-gray-300">© Copyright MQCyberSec {currentYear}</small>
  </div>
</footer>


<style>
  footer {
    position: relative;
    z-index: 1;
  }

  footer > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
</style>
